[submodule "ubem"]
	path = ubem
	url = https://github.com/webowski/ubem.git

[submodule "webza-docs"]
	path = webza-docs
	url = https://github.com/webowski/webza-docs.git
[submodule "its-test"]
	path = its-test
	url = git@github.com:webowski/its-test.git
